---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/TopBar.astro";
import Hero from "../components/Hero.astro";
import Waveform from "../components/Waveform.astro";
import Ticker from "../components/Ticker.astro";
import Visualiser from "../components/Visualiser.astro";
import Bio from "../components/Bio.astro";
import PlatformLinks from "../components/PlatformLinks.astro";
import Releases from "../components/Releases.astro";
import SpotifyEmbed from "../components/SpotifyEmbed.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Monogrowl | Electronic Music from Sheffield & Brooklyn">
  <div class="fx-grain fx-scanlines">
    <TopBar />
    <Hero />
    <Waveform />
    <Ticker />
    <Visualiser />
    <Bio />
    <PlatformLinks />
    <Releases />
    <SpotifyEmbed artistId="5ESygfI91sh8X4emLEeJ40" />
    <Footer />
  </div>
</Layout>

<style lang="scss" is:global>
  // FX wrappers attach to the page root so grain + scanlines
  // render over the whole site (not the <body>, which is shared).
  .fx-grain,
  .fx-scanlines {
    position: relative;
  }
</style>
